@using FinalProject.ViewModel
@model CardViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Catalog";
}

<div class="bodyContent">
    <h1 class="PageTitle">Catalog</h1>
    @for (int i = 0; i < @Model.pokemon.Count; i++)
    {
        <div class="leftPart">
            <img class="thumbNail" src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(@System.IO.File.ReadAllBytes(@Model.pokemon[i].Image)))" />
        </div>
        <div class="rightPart">
            @Html.ActionLink(@Model.pokemon[i].CardName, "PokemonCard", @Model.pokemon[i])    
            <p>
                $@Model.pokemon[i].Price.ToString("F")
            </p>
        </div>

        <br />
    }
    <hr />
    @for (int i = 0; i < @Model.trainer.Count; i++)
    {
        <div class="leftPart">
            <img class="thumbNail" src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(@System.IO.File.ReadAllBytes(@Model.trainer[i].Image)))" />
        </div>
        <div class="rightPart">
            @Html.ActionLink(@Model.trainer[i].CardName, "TrainerCard", @Model.trainer[i])
            <p>
                $@Model.trainer[i].Price.ToString("F")
            </p>
        </div>
        <br />
    }
    <hr />
    @for (int i = 0; i < @Model.energy.Count; i++)
    {
        <div class="leftPart">
            <img class="thumbNail" src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(@System.IO.File.ReadAllBytes(@Model.energy[i].Image)))" />
        </div>
        <div class="rightPart">
            @Html.ActionLink(@Model.energy[i].CardName, "EnergyCard", @Model.energy[i])
            <p>
                $@Model.energy[i].Price.ToString("F")
            </p>
        </div>
        <br />
    }
    <hr />
</div>
