@using FinalProject.ViewModel
@model CardViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Catalog";
}

<div class="bodyContent">
    <h1>Catalog</h1>
    @for (int i = 0; i < @Model.pokemon.Count; i++)
    {
        <img class="thumbNail" src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(@System.IO.File.ReadAllBytes(@Model.pokemon[i].Image)))" />
        @Html.ActionLink(@Model.pokemon[i].CardName, "PokemonCard", @Model.pokemon[i])
        <br />
    }
    <hr />
    @for (int i = 0; i < @Model.trainer.Count; i++)
    {
        <img class="thumbNail" src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(@System.IO.File.ReadAllBytes(@Model.trainer[i].Image)))" />
        @Html.ActionLink(@Model.trainer[i].CardName, "TrainerCard", @Model.trainer[i])
        <br />
    }
    <hr />
    @for (int i = 0; i < @Model.energy.Count; i++)
    {
        <img class="thumbNail" src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(@System.IO.File.ReadAllBytes(@Model.energy[i].Image)))" />
        @Html.ActionLink(@Model.energy[i].CardName, "EnergyCard", @Model.energy[i])
        <br />
    }
    <hr />
</div>
