@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title</title>
        <link rel="stylesheet" href="~/Styles/Main.css" type="text/css" />
    </head>
    <body>
        <img class="logoImage" src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(@System.IO.File.ReadAllBytes("C:\\Users\\Trenton Arndt\\Downloads\\logo.jpg")))" />
        <header>Pokemon Card Collection</header>
        <div class="navbar navbar-inverse">
            @Html.Partial("_NavbarPartial")
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p class="copyright">Card Collection Site by Trenton Arndt</p>
            </footer>
        </div>
    </body>
</html>
